<%= render "user/user_status" %>

<%= form_tag("/questions/check_answer", :method => "post") do %>

  <div><%= @res %></div>

  <div><%= @question.text %></div>
  
  <div>
  <% for option in @question.answer_options do %>
    <div><%= option.text %>
         <%= radio_button_tag 'answer', option.position %></div>
  <% end %>
  
  <%= hidden_field_tag "question", @question.id %>

  <%= submit_tag("Submit") %>
  </div>
<% end %>