<!DOCTYPE html>
<html>
<head>
  <title>Freepencils</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background:url('/images/iphone.png') no-repeat;padding-top:120px;padding-left:20px;width=320px;">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
         
<div width="300px" style="width='300px';">
<%= yield %>
</div>

</body>
</html>
